apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: natlangchain-environments
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - env: staging
            namespace: natlangchain-staging
            targetRevision: HEAD
            autoSync: "true"
            replicas: "2"
            syncWave: "1"
          - env: production
            namespace: natlangchain
            targetRevision: HEAD  # Or use {{branch}} for release tags
            autoSync: "false"
            replicas: "3"
            syncWave: "2"

  template:
    metadata:
      name: 'natlangchain-{{env}}'
      namespace: argocd
      annotations:
        argocd.argoproj.io/sync-wave: '{{syncWave}}'
        notifications.argoproj.io/subscribe.on-sync-succeeded.slack: natlangchain-deployments
        notifications.argoproj.io/subscribe.on-sync-failed.slack: natlangchain-alerts
    spec:
      project: natlangchain

      source:
        repoURL: https://github.com/kase1111-hash/NatLangChain.git
        targetRevision: '{{targetRevision}}'
        path: charts/natlangchain
        helm:
          releaseName: 'natlangchain-{{env}}'
          valueFiles:
            - '../../argocd/envs/{{env}}/values.yaml'
          parameters:
            - name: replicaCount
              value: '{{replicas}}'

      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'

      syncPolicy:
        automated:
          prune: '{{autoSync}}'
          selfHeal: '{{autoSync}}'
        syncOptions:
          - CreateNamespace=true
          - PrunePropagationPolicy=foreground
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m

      revisionHistoryLimit: 10
